[Desktop Entry]
Version=1.0
Type=Application
Name=LIneA: ocultar painel XFCE
Comment=Ocultação automática da barra inferior no VNC
Exec=/opt/linea-iraf/scripts/hide-xfce-panel.sh
TryExec=/opt/linea-iraf/scripts/hide-xfce-panel.sh
Hidden=false
NoDisplay=true
Terminal=false
StartupNotify=false
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
