[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Name[pt_BR]=Terminal
Comment=XFCE terminal emulator
Comment[pt_BR]=Terminal do ambiente XFCE
Icon=org.xfce.terminal
Categories=System;TerminalEmulator;
Keywords=terminal;shell;bash;xfce;
TryExec=xfce4-terminal
Exec=sh -c 'cd "$HOME" && exec xfce4-terminal'
Terminal=false
StartupNotify=true
